body
{
    margin: 0;
    padding: 0;
}
.bgo
{
    width: 45%;
    margin: auto;    
}
h1
{
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 50px;
}    
.backg h1 {
    font-size: 50px;
    font-family: Pacifico, cursive;
    color: rgb(53, 46, 40);
    isolation: isolate;
}
.backg h1::before {
    content: "";
    position: absolute;
    width: 250px;
    
    height: 25%;
    left: 42%;
    bottom: 10px;
    background-color: rgb(254, 194, 96);
    z-index: -1;
    transition: height 350ms ease 0s;
}
h1:hover::before 
{
    height: 70%;
}

::selection {
    background-color: rgb(254, 194, 96);
    color: rgb(53, 46, 40);
}

/*  */
.backg
{
    height: 100vh;
    background-color: rgb(252, 243, 246);
}
.parent
{
    background-color: rgb(252, 243, 246);   
}
.line
{
    border-bottom: 2px dotted black;
    width: 80%;
    margin: auto;
}
.form-control:focus {
   
    border-color: #f66a1f;
    box-shadow: 0 0 0 .25rem rgba(247, 172, 86, 0.25);
}
h3
{
    background: linear-gradient(to right, #0d7e1a, 
    #097b1f, #eae66f, #e0a212); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.form
{
    width: 80%;
    margin:2% auto;
}
.table
{
    width: 80%;
    margin: auto;
}


.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #739506;
    --bs-btn-border-color:  #87b00b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #345204;
    --bs-btn-hover-border-color:#345204;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #345204;
    --bs-btn-active-border-color: #345204;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:  #87b00b;
    --bs-btn-disabled-border-color:  #87b00b;
}
/* icons */
i 
{
    color: #097b1f;
}

/* Error Modal Box */
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-box {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
}

.circles span {
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) { background-color: #f15f5d; }
.circles span:nth-child(2) { background-color: #fdb441; }
.circles span:nth-child(3) { background-color: #3ec142; }

.rules i {
    color: #bb4120;
}
.close-icon { color: #343a40; }

/* Error Modal Box */
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-box {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
}

.circles span {
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) { background-color: #f15f5d; }
.circles span:nth-child(2) { background-color: #fdb441; }
.circles span:nth-child(3) { background-color: #3ec142; }

.rules i {
    color: #bb4120;
}
.close-icon { color: #343a40; }